<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="{$Think.PUBLIC_PATH}shop/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{$Think.PUBLIC_PATH}shop/css/main.css">
	{block name="private_file"}{/block}
	<script src="{$Think.PUBLIC_PATH}h_admin/js/jquery.min.js?v=2.1.4"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{:url('index/home/index')}" class="logo fl"><img src="{$Think.PUBLIC_PATH}shop/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" id="search_text" placeholder="搜索商品">
			<input type="button" class="input_btn fr" id="search_btn" value="搜索">
		</div>
		{empty name="not_show_cart"}
		<div class="guest_cart fr">
			<a href="{:url('index/cart/my_cart')}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
		{/empty}
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="{:url('index/home/good_list',['catalog_id'=>1])}" class="fruit">新鲜水果</a></li>
					<li><a href="{:url('index/home/good_list',['catalog_id'=>2])}" class="seafood">海鲜水产</a></li>
					<li><a href="{:url('index/home/good_list',['catalog_id'=>3])}" class="meet">猪牛羊肉</a></li>
					<li><a href="{:url('index/home/good_list',['catalog_id'=>4])}" class="egg">禽类蛋品</a></li>
					<li><a href="{:url('index/home/good_list',['catalog_id'=>5])}" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{:url('index/home/good_list',['catalog_id'=>6])}" class="ice">速冻食品</a></li>
				</ul>
			</div>
		</div>
	</div>
	{block name="content"}
	{/block}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
	</div>
	{block name="private_js"}
	{/block}	
	{empty name="not_show_cart"}
	<script>
		$(document).ready(function(){
			set_cart_num();
		});

		function set_cart_num(){
			$.get("{:url('index/cart/get_good_num_in_cart')}",{},function(data){
				$("#show_count").html(data);
			});
		}

		$("#search_btn").click(function(){
			var keyword = $("#search_text").val();
			console.log(keyword);
			window.location.href = "{:url('index/home/good_list')}"+"?catalog_id=0&keyword="+keyword;
		})
	</script>
	{/empty}
</body>
</html>